body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    overflow-x: hidden;
}


button {
    width: fit-content;
}

img {
    width: 20vh;
    height: 20vh;
    background-color: black;
    opacity: 0;
    position: absolute;
}

img.anim {
    opacity: 1;
}

@keyframes anim {
    0% {
        left: -10vw;
    }
    100% {
        left: 150vw;
        transform: rotate(500deg);
      
    }


}

.anim {
    animation: anim 3s linear forwards
}




